.avatar {
    width: 50px;
    height: 50px;

    &.civ { background-color: #ccc; }
    &.com { background-color: darkcyan; }
    &.mil { background-color: darkolivegreen; }

}

table {
    border-spacing: 0;
    tr > td {
        padding: 10px;

        &:first-child {
            border-right: #ccc solid 1px; 
        }
    }
}

mat-card {
    max-width: 260px;
}

.btn-img { width: 22px; }
.btn-txt { margin-left: 8px; }